.first {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
    margin-top: 50px;
}
.third h5 {
    font-size: 16px;
    font-weight: 700;
}
.seventh {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
}
.fifth {
    width: 100%;
}
.fifth img {
    width: 75%;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    /* margin: 5px 20px; */
}
.sixth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
}
.eighth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}
